extends layout

block content
    div(class="app-container")
        div(class="top-bar")
            h1(class="title") My Cloud

        input(class="input-file" type='file' name='fileUpload' id="fileUpload")
        label(for="fileUpload")
            div(class="add-file-icon-wrap")
                i(class="gg-file-add")

        div(class="file-list")
            each val in fileList
                div(class="file-container")
                    if ["jpg", "png", "svg", "jpeg", "gif"].includes(val.name.split('.').pop().toLowerCase())
                        div(class="file-image-container")
                            img(src=val.path class="file-thumbnail")
                        p= val.name
                        div(class="dload-delete-container")
                            a(href=val.path download)
                                div(class="dload-container")
                                    i(class="gg-software-download dload-icon")
                            div(class="delete-container" id=val.name onclick="sendDeleteFile('" + val.path + "')")
                                i(class='gg-close delete-icon')
                    else if !val.name.includes('.')
                        i(class="gg-folder folder-icon")
                        p= val.name
                        a(href="/folder/open/" + val.path) open
                        i(class='gg-close' id=val.name onclick="sendDeleteFile('" + val.path + "')")
                    else
                        include file-icons
                        p= val.name
                        div(class="dload-delete-container")
                            div(class="dload-container")
                                a(href=val.path download)
                                    i(class="gg-software-download dload-icon")
                            div(class="delete-container")
                                i(class='gg-close delete-icon' id=val.name onclick="sendDeleteFile('" + val.path + "')")

        input(type='text' name='folderName' id='folderName')
        input(type='submit' onclick="sendNewFolder()")

    script.
        document.getElementById('fileUpload').addEventListener('change', event => {
            sendFileUpload(event);
        })

        function sendFileUpload(e) {
            const files = e.target.files;
            const formData = new FormData();
            formData.append('file', files[0]);

            uploadFile(formData).then(function (res) {
                if (res.status === 200) {
                    location.reload();
                }
            })
        }

        function sendDeleteFile(fileName) {
            deleteFile(fileName).then(function (res) {
                if (res.status === 200) {
                    location.reload();
                }
            })
        }

        function sendNewFolder() {
            // const current = document.getElementById('current').value;
            const folderName = document.getElementById('folderName').value;
            createFolder(folderName).then(function (res) {
                if (res.status === 200) {
                    location.reload();
                }
            })
        }

        function sendDeleteFolder(folderName) {
            deleteFolder(folderName).then(function (res) {
                if (res.status === 200) {
                    location.reload();
                }
            })
        }