extends layout

block content
    div(class="app-container")
        div(class="top-bar")
            h1(class="title") My Cloud
            div
                input(class="input-file" type='file' name='fileUpload' id="fileUpload")
                label(for="fileUpload")
                    div(class="add-file-icon-wrap")
                        i(class="gg-file-add")
                input(type='text' name='folderName' id='folderName')
                input(type='submit' onclick="sendNewFolder()")

        h1(class="header") Folders
        div(class="folder-list")
            each val in fileList
                if !val.name.includes('.')
                    div(class="folder-container")
                        a(class="folder-link" href="/folder/open/" + val.path)
                            div(class="interior-container")
                                i(class="gg-folder folder-icon")
                                p(class="foldername")=val.name
                        div(class="folder-close" id=val.name onclick="sendDeleteFolder('" + val.path + "')")
                            i(class='gg-close delete-icon')

        h1(class="header") Files
        div(class="file-list")
            each val in fileList
                if val.name.includes('.')
                    div(class="file-container")
                        if ["jpg", "png", "svg", "jpeg", "gif"].includes(val.name.split('.').pop().toLowerCase())
                            div(class="file-image-container")
                                img(src=val.path class="file-thumbnail")
                            p(class="filename")=val.name
                            div(class="dload-delete-container")
                                a(href=val.path download)
                                    div(class="dload-container")
                                        i(class="gg-software-download dload-icon")
                                div(class="delete-container" id=val.name onclick="sendDeleteFile('" + val.path + "')")
                                    i(class='gg-close delete-icon')
                        else
                            include file-icons
                            p(class="filename")=val.name
                            div(class="dload-delete-container")
                                a(href=val.path download)
                                    div(class="dload-container")
                                        i(class="gg-software-download dload-icon")
                                div(class="delete-container" id=val.name onclick="sendDeleteFile('" + val.path + "')")
                                    i(class='gg-close delete-icon')

        div(class="footer")
            p © 2020 Nicolas Wands. All rights reserved
            a(href="https://github.com/nicwands/rpi-node-server" target="_blank") Github

    script.
        document.getElementById('fileUpload').addEventListener('change', event => {
            sendFileUpload(event);
        })

        function sendFileUpload(e) {
            const files = e.target.files;
            const formData = new FormData();
            formData.append('file', files[0]);

            uploadFile(formData).then(function (res) {
                if (res.status === 200) {
                    location.reload();
                }
            })
        }

        function sendDeleteFile(fileName) {
            deleteFile(fileName).then(function (res) {
                if (res.status === 200) {
                    location.reload();
                }
            })
        }

        function sendNewFolder() {
            // const current = document.getElementById('current').value;
            const folderName = document.getElementById('folderName').value;
            createFolder(folderName).then(function (res) {
                if (res.status === 200) {
                    location.reload();
                }
            })
        }

        function sendDeleteFolder(folderName) {
            deleteFolder(folderName).then(function (res) {
                if (res.status === 200) {
                    location.reload();
                }
            })
        }