extends layout

block content
    div(class="app-container")
        div(class="top-bar")
            h1(class="title") My Cloud
            div(class="progress-container" id="progressContainer")
                div(class="bar" id="progress")

        div(class="breadcrumb-container")
            a(class="breadcrumb" href="/") Home
            if path !== ""
                p(class="breadcrumb-separator") >
            - let pathSplit = path.split("/");
            - let pathList = pathSplit.filter(function(path) { return path !== "" });
            - let link = "/";
            each val, index in pathList
                - let valPath = pathList.slice(0, pathList.indexOf(val) + 1);
                - link += valPath[index] + "/"
                a(class="breadcrumb" href=link)= val
                if index < pathList.length -1
                    p(class="breadcrumb-separator") >

        div(class="add-input-container")
            h1(class="header") Folders
            img(class="add-folder-icon" id="addFolderIcon" src="/images/icons/icons-04.svg")
            div(class="folder-modal" id="folderModal")
                i(class="gg-close" id="modalClose")
                input(class="folder-name-input" type='text' name='folderName' id='folderName' placeholder="Name" autocomplete="off" data-path=path)
                input(class="folder-name-submit" type='submit' value="->" onclick="sendNewFolder()")
        div(class="folder-list")
            each val in fileList
                if !val.name.includes('.')
                    div(class="folder-container")
                        a(class="folder-link" href=val.path)
                            div(class="interior-container")
                                img(class="folder-icon" src="/images/icons/icons-03.svg")
                                p(class="foldername")=val.name
                        div(class="folder-close" id=val.name onclick="sendDeleteFolder('" + val.path + "')")
                            img(class='delete-icon' src="/images/icons/icons-02.svg")

        div(class="add-input-container")
            h1(class="header") Files
            div(class="add-file")
                input(class="input-file" type='file' name='fileUpload' id="fileUpload" data-path=path)
                label(for="fileUpload")
                    img(class="add-file-icon" src="/images/icons/icons-05.svg")
        div(class="file-list")
            each val in fileList
                if val.name.includes('.')
                    div(class="file-container")
                        a(class="click-target" href=host + val.path target="_blank")
                        if ["jpg", "png", "svg", "jpeg", "gif"].includes(val.name.split('.').pop().toLowerCase())
                            div(class="file-image-container")
                                img(src=val.path class="file-thumbnail")
                            p(class="filename")=val.name
                            div(class="dload-delete-container")
                                a(href=val.path download)
                                    div(class="dload-container")
                                        img(class="dload-icon" src="/images/icons/icons-01.svg")
                                div(class="delete-container" id=val.name onclick="sendDeleteFile('" + val.path + "')")
                                    img(class='gg-close delete-icon' src="/images/icons/icons-02.svg")
                        else
                            include file-icons
                            p(class="filename")=val.name
                            div(class="dload-delete-container")
                                a(href=val.path download)
                                    div(class="dload-container")
                                        img(class="dload-icon" src="/images/icons/icons-01.svg")
                                div(class="delete-container" id=val.name onclick="sendDeleteFile('" + val.path + "')")
                                    img(class='gg-close delete-icon' src="/images/icons/icons-02.svg")

        div(class="footer")
            p © 2020 Nicolas Wands. All rights reserved
            a(href="https://github.com/nicwands/rpi-node-server" target="_blank")
                p Github

    script(type='text/javascript' src='/js/appFunctions.js')
    script(type='text/javascript' src='/js/style.js')