doctype html
html(lang='en')
    head
        title File Server
    body

        ul
            each val in fileList
                li= val
                a(href=val download) download

        form(method='post' action='/upload' enctype='multipart/form-data')
            input(type='file' name='fileUploaded')
            input(type='submit')

        form(method='post' action='/new-folder' enctype='multipart/form-data')
            input(type='text' name='folderName')
            input(type='submit')

        p #{name} is the filename!
        img(src=name alt=name)
        a(href=name download)
            p download